html,body{
    color: darkseagreen;
    height:100%;
    font-family: "Righteous", sans-serif;
  }

  h1 > a {
    color: darkseagreen;
    text-decoration: none;
  }
  h4{
    text-align: center;
  }

  li > a {
    color: darkseagreen;
    text-decoration: none;
  }

  ul.a li {
    list-style: none;
    text-align: center;
    display: inline;
    padding: 0px 10px;
  }
  ul.c li{
    list-style: none;
    text-align: center;
    display: inline;
    padding: 0px 10px;
    
  }
  
  ul.b li{
    list-style: none;
    text-align: left;
    padding: 0px 30px;
  }
  ul{
    list-style: none;
    text-align: center;
    border-top: 1px solid darkseagreen;
    border-bottom: 1px solid darkseagreen;
    padding: 10px 0;
  }
  ul.a li:hover{text-decoration: underline;}

  aside#left{
    float:left; 
    width:15%; 
    height:70%;
  }
  section{
    float:left;
    width:60%;
    height:70%;
  }
  aside#right{
    float:right;
    width:22%;
    height:70%;

  }
  footer{
    clear:both;
  }

  

